<h1>List of all restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <p> <strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong></p>
  <p><%= restaurant.address %> -- Tel: (<%= restaurant.phone_number %>) -- <em><%= restaurant.category %></em></p>
<% end %>
<br>
<%= link_to "Add a new restaurant", new_restaurant_path %>

