<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Tel: (<%= @restaurant.phone_number %>)</p>
<p>Category: <strong><%= @restaurant.category %></strong></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %> -- Rating: <%= review.rating %></li>
  <% end %>
</ul>

<%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
<br>
<%= link_to "Back to restaurants", restaurants_path %>
